html
  head
    title='Question Maker'
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    div.container
      form
        legend
          | Make Question
        input(type="text" class="form-control" name="question" placeholder="Question" required autofocus)
        input(type="text" class="form-control" name="answerDescription" placeholder="Answer Type" required autofocus)
        input(type="text" class="form-control" name="answerComment" placeholder="Answer Commet" autofocus)
        input(type="text" class="form-control" name="relatedQuestion" placeholder="Related Question" autofocus)
        div(id="answerOptions")
          input(type="text" class="form-control" name="answerOptionKeys" placeholder="Answer option key")
          input(type="text" class="form-control" name="answerOptionValues" placeholder="Answer option value")
        button(class="btn btn-sm btn-primary" type="button" id="questionOptionAdder")
          | Add Question Option
        button(class="btn btn-lg btn-primary btn-block" type="submit")
          | send
    script.
      $('#questionOptionAdder').on('click', function(e) {
        $('#answerOptions').append('<input type="text" name="answerOptionKeys" placeholder="Answer option key" class="form-control">');
        $('#answerOptions').append('<input type="text" name="answerOptionValues" placeholder="Answer option value" class="form-control">');
      });
      $('form').on('submit', function(e) {
        e.preventDefault();
        var form = $(this);
        var answerOptionsKeys = form.find("input[name='answerOptionKeys']").serializeArray();
        var answerOptionsValues = form.find("input[name='answerOptionValues']").serializeArray();
        if (answerOptionsKeys && answerOptionsValues) {
          var answerOptions = {};
          for(var i in answerOptionsKeys) {
            var k = answerOptionsKeys[i]['value'];
            var v = answerOptionsValues[i]['value'];
            answerOptions[k] = v;
          }
        }
        var questionData = {
          question: form.find( "input[name='question']" ).val(),
          answerDataType: form.find( "input[name='answerDescription']" ).val(),
          answerComment: form.find( "input[name='answerComment']" ).val(),
          relatedQuestion: form.find( "input[name='relatedQuestion']" ).val(),
          answerOptions: answerOptions
        };
        $.ajax({
          type:'post', 
          url: '/question', 
          data: JSON.stringify(questionData), 
          dataType:'json',
          contentType: "application/json; charset=utf-8"
        })
        .done(function(data) {
          alert('Question created');
          form.trigger('reset');
        })
        .fail(function() {
          alert( "error" );
        })
      });
